@model System.Collections.Generic.IEnumerable<Notch.Domain.Track>

@foreach (var track in Model)
{
    var deleteModalId = $"deleteModal{track.Id}";

    using (Html.BeginForm("DeleteTrack", "Track", FormMethod.Post))
    {
        @Html.Hidden("Id", track.Id)

        <div id="@deleteModalId" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete Track</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete @track.Name?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    }
}